{% extends 'base.html' %}

{% block content %}



<div class="page-container-home">
    <form action="" method="POST" class="playlist-form">
        {% csrf_token %}
        <div class="detail-things">
            <div class="playlist-cover">
                <i class="fa-solid fa-icons"></i>
            </div>
            <div class="detail-things-2">
                <div class="user-title-photo">
                    <div class="playlist-form-name">
                        {{ form.name }}
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                </div>
                <div class="playlist-form-description">
                    {{ form.description }}
                    <i class="fa-solid fa-pencil"></i>
                </div>

            </div>
        </div>


        <div class="detail-main">
            <div class="detail-menu">
                <div>
                    <input type="submit" value="Submit!">
                </div>
            </div>


            <div class="playlist-songs-div">
                {% for song in songs %}
                <div class="one-song-playlist">
                    <div class="detail-each-song">
                        <div class="song-cover">
                            <i class="fa-solid fa-icons"></i>
                        </div>
                        <div class="detail-nameartist">
                            <div class="detail-song-name">
                                {{ song.name }}
                            </div>
                            <div class="detail-song-artist">
                                Song Artist
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="checkbox" name="songs" value="{{ song.id }}" id="id_songs_{{ song.id }}" class="custom-input hidden">
                        <label for="id_songs_{{ song.id }}" class="custom-checkbox">
                            <div>
                                <!-- <i class="fas fa-plus"></i> -->
                                Add
                            </div>  
                        </label>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </form>
</div>

<script>
    function toggleCheckbox(checkbox) {
        checkbox.classList.toggle('checked');
    }
</script>

{% endblock %}