{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1>Edit <span>{{ object.name }}</span></h1>
{% else %}
    <h1>Add Playlist</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <br>
    <hr>
    <br>

    <div>
        <h5>ADD SONGS</h5>

        <div>

                <select name="" id="id_songs" multiple>
                    {% if songs %}
                        {% for song in songs %}
                            <option value="{{ song.id }}">{{ song.name }}</option>
                            
                        {% endfor %}
                    {% endif %}
                </select> 
                

        </div>
    </div>

    <input type="submit" value="Submit!">
</form>

{% endblock %}