{% extends 'base.html' %}
{% block content %}

<div class="page-container-home">
    <div class="detail-things">

        <div class="playlist-cover">
            <i class="fa-solid fa-icons"></i>
        </div>

        <div class="detail-things-2">
            <div class="user-title-photo">
                <h1 class="detail-playlist-name">{{ playlist.name }}</h1>
            </div>
            <div class="detail-tagline">
                {{ playlist.description }}
            </div>
        </div>
    </div>

    <div class="detial-main">
        <div class="detail-menu">
            <div class="detail-favorite">

                {% if is_favorite %}
                    <a href="{% url 'unfav_playlist' user.id playlist.id %}">
                        <i class="fa-solid fa-heart solid-favorite wobble"></i>
                    </a>
                {% else %}
                    <a href="{% url 'fav_playlist' user.id playlist.id %}" id="heart-toggle">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                {% endif %}
                
            </div>
            {% if request.user == playlist.user %}
            <div class="detail-ellipsis">
                <i class="fa-solid fa-ellipsis" id="ellipsis"></i>
                <div class="dropdown-detail" id="dropdown-detail">
                    <a href="{% url 'playlists_update' playlist.id %}">
                        <button>Edit</button>
                    </a>
                    <a href="{% url 'playlists_delete' playlist.id %}">
                        <button>Delete</button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="songs-table-div">
            <table class="songs-table">
                <tr>
                    <td style="padding-right: 10px; padding-left: 20px;">#</td>
                    <td>Title</td>
                    <td style="padding-right: 30px;">Album</td>
                    <td style="padding-right: 20px;">Date Added</td>
                    <td><i class="fa-regular fa-clock"></i></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <hr>
                    </td>
                </tr>
                {% if playlist.songs.count %}
                {% for song in playlist.songs.all %}
                <tr class="song-hover">
                    <td  style="padding-right: 10px; padding-left: 20px;">1</td>
                    <td>
                        <div class="detail-each-song">
                            <div class="song-cover">
                                <i class="fa-solid fa-icons"></i>
                            </div>
                            <div class="detail-nameartist">
                                <div class="detail-song-name">
                                    {{ song.name }}
                                </div>
                                <div class="detail-song-artist">
                                    Song Artist
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="padding-right: 30px;">Album Name</td>
                    <td style="padding-right: 30px;">Date Added</td>
                    <td>0:00</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>

        <div>

            <h1>user favorites</h1>

            {% for user in user_favs %}

                {{ user }}

            {% endfor %}
        </div>
    </div>
</div>

<script>

    const dropdownDetail = document.getElementById('dropdown-detail');
    const ellipsis = document.getElementById('ellipsis');
    const heartToggle = document.getElementById('heart-toggle');

    ellipsis.addEventListener('click', function() {
        dropdownDetail.classList.toggle('active');
    })

</script>

{% endblock %}
