{% extends 'base.html' %}
{% block content %}

<div class="page-container">

    <div class="playlist-cover">
        <i class="fa-solid fa-icons"></i>
    </div>
    <div class="playlist-name">
        {{ playlist.name }}
    </div>
    <div class="playlist-description">
        {{ playlist.description }}
    </div>
    <div>
        {% if playlist.songs.count %}
            {% for song in playlist.songs.all %}
            <div>
                {{ song.name }}
            </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if request.user == playlist.user %}
        <div>
            <a href="{% url 'playlists_update' playlist.id %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'playlists_delete' playlist.id %}">
                <button>Delete</button>
            </a>
        </div>
    {% endif %}

</div>

{% endblock %}
