{% extends 'base.html' %}
{% block content %}

<div class="page-container-home">
    <div class="detail-things">

        <div class="playlist-cover">
            <i class="fa-solid fa-icons"></i>
        </div>

        <div class="detail-things-2">
            <div class="user-title-photo">
                <h1 class="detail-playlist-name">{{ playlist.name }}</h1>
            </div>
            <div class="detail-tagline">
                {{ playlist.description }}
            </div>
        </div>
    </div>

    <div class="detial-main">
        <div class="detail-menu">
            <div class="detail-favorite">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-heart hidden"></i> 
                <!-- ADD ANIMATION TO REVEAL SECOND HEART AND MAKE GREEN ON CLICK -->
            </div>
            <div class="detail-ellipsis">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
        <div class="detail-songs">
            {% if playlist.songs.count %}
                {% for song in playlist.songs.all %}
                <div class="detail-each-song">
                    <div class="song-cover">
                        <i class="fa-solid fa-icons"></i>
                    </div>
                    <div class="detail-nameartist">
                        <div class="detail-song-name">
                            {{ song.name }}
                        </div>
                        <div class="detail-song-artist">
                            Song Artist
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    <div>

    
        {% if request.user == playlist.user %}
            <div>
                <a href="{% url 'playlists_update' playlist.id %}">
                    <button>Edit</button>
                </a>
                <a href="{% url 'playlists_delete' playlist.id %}">
                    <button>Delete</button>
                </a>
            </div>
        {% endif %}
    </div>
    
</div>

{% endblock %}
