{% extends 'base.html' %}
{% block content %}


<div class="page-container-home">
    <div class="sign-up">
        <h1 class="sign-title">Log in to Melodix</h1>

        <p class="red-text">{{ error_message }}</p>
        
        <form method="POST" action="{% url 'login' %}" class="sign-up-form">
            {% csrf_token %}
            <div class="sign-up-form-fields">
                <div>
                    <label for="id_username">Username</label>
                    <input type="text" id="id_username">
                </div>

                <div>
                    <label for="id_password">Password</label>
                    <input type="text" id="id_password">
                </div>
            </div>
            
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="sign-up-submit">Log In</button>

            
        </form>

        <hr class="sign-up-hr">
        <div class="sign-up-here">
            Dont have an account? <a href="{% url 'signup' %}">Sign up for Melodix</a>.
        </div>
    </div>

</div>


{% endblock %}
