{% extends 'base.html' %}
{% block content %}


<div class="page-container-home">
    <div class="sign-up">
        <h1 class="sign-title">Sign up to join Melodix</h1>

        <p class="red-text">{{ error_message }}</p>
        
        <form method="POST" action="{% url 'signup' %}" class="sign-up-form">
            {% csrf_token %}
            <div class="sign-up-form-fields">
                <div>
                    <label for="id_username">Username</label>
                    <input type="text" id="id_username">
                </div>

                <div>
                    <label for="id_password1">Password</label>
                    <input type="text" id="id_password1">
                </div>

                <div>
                    <label for="id_passwords">Confirm password</label>
                    <input type="text" id="id_passwords">
                </div>
            </div>
            
            <input type="submit" class="sign-up-submit" value="Next">

            
        </form>

        <hr class="sign-up-hr">
        <div class="log-in-here">
            Already have an account? <a href="{% url 'login' %}">Log in here</a>.
        </div>
    </div>

</div>


{% endblock %}