{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Melodix</title>
    <script src="https://kit.fontawesome.com/fc377b8991.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="top-nav">
                <div>
                    <a href="/" title="Home" class="nav-logo">
                    <i class="fa-solid fa-circle-play"></i>
                    Melodix
                </a></div>
                <div class="nav-home"><a href="/" title="Home">
                    <i class="fa-solid fa-house"></i> Home
                </a></div>
                <div class="nav-search"><a href="/search_bar">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </a></div>
        </nav>
        <aside class="library-nav">
            <div class="lib-nav-header">
                <div class="lib-nav-your-div">
                    <i class="fa-solid fa-lines-leaning"></i>
                    Your Library
                </div>
                <div class="lib-nav-new" id="add-new-btn">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="dropdown-add" id="dropdown-add">
                    <a href="{% url 'playlists_create' %}">
                        <button class="paylist-btn">Add A Playlist</button>
                    </a>
                    <a href="{% url 'songs_create' %}">
                        <button>Add A Song</button>
                    </a>
                </div>


                <div></div>
            </div>
            {% if user.is_authenticated %}
                <div class="base-playlists-div">
                    {% for playlist in user.created_playlist_set.all %}
                        <a href="{% url 'detail' playlist.id %}">
                            <div class="base-playlist{% if playlist.id == playlist_id %} active-a{% endif %}">
                                <div class="base-playlist-cover">
                                    <i class="fa-solid fa-icons"></i>
                                </div>
                                <div class="base-playlist-nameuser">
                                    <div class="base-playlist-name">
                                        {{ playlist.name }}
                                    </div>
                                    <div class="base-playlist-user">
                                        {{ playlist.user }}
                                    </div> 
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="base-playlists-div">
                    {% for playlist in user.playlist_set.all %}
                        <a href="{% url 'detail' playlist.id %}">
                            <div class="base-playlist{% if playlist.id == playlist_id %} active-a{% endif %}">
                                <div class="base-playlist-cover">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="base-playlist-nameuser">
                                    <div class="base-playlist-name">
                                        {{ playlist.name }}
                                    </div>
                                    <div class="base-playlist-user">
                                        {{ playlist.user }}
                                    </div> 
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="lib-nav-create-playlist">
                    <div>
                        <p class="lib-nav-p-bold">Create your first playlist</p>
                        <p class="lib-nav-p-light">It's easy, we'll help you</p>
                    </div>
                    <a href="{% url 'playlists_create' %}">
                        <button>Create Playlist</button>
                    </a>
                </div>
                <div class="lib-nav-find-playlists">
                    <div>
                        <p class="lib-nav-p-bold">Let's find some playlists to like</p>
                        <p class="lib-nav-p-light">We'll keep you updated when new songs are added</p>
                    </div>
                    <a href="{% url 'index' %}"><button>Browse Playlists</button></a>
                </div>
                <div class="lib-nav-find-playlists">
                    <div>
                        <p class="lib-nav-p-bold">Add some songs to the database</p>
                        <p class="lib-nav-p-light">It's fast and easy</p>
                    </div>
                    <a href="{% url 'songs_create' %}">
                        <button>Add A Song</button>
                    </a>
                </div>
                <div class="lib-nav-find-playlists">
                    <div>
                        <p class="lib-nav-p-bold">Let's find some songs you like</p>
                        <p class="lib-nav-p-light">Check out a full list of songs</p>
                    </div>
                    <a href="{% url 'songs_index' %}">
                        <button>Browse Songs</button>
                    </a>
                </div>
            {% endif %}
        </aside>
    </header>
    <main class="main-container">
        <div class="top-fixed translucent" id="top-fixed">
            <div class="top-fixed-left">
                <div class="backforth-buttons">
                    <div class="back-btn" id="back-btn" title="Go back"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="forward-btn" id="forward-btn" title="Go forward"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
    
                {% if '/search_bar/' in request.path or '/search/' in request.path %}
                    <div>
                        <form action="{% url 'search_view' %}" method="GET" class="search-bar-div">
                            <input type="text" name="q" id="search-bar" placeholder="Search Melodix...">
                        </form>
                    </div>
                {% endif %}

                <div id="fixed-playlist-name" class="fixed-playlist-name">
                    {{ playlist.name }}
                </div>
            </div>

            <div class="login-buttons">
                {% if user.is_authenticated %}
                    <div class="avatar" id="avatar">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="dropdown" id="dropdown">
                        <a href="{% url 'profile_index' user.id %}"><button class="profile-btn">Profile</button></a>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="logout-btn">Logout</button>
                        </form>
                    </div>
                {% else %}
                <a href="{% url 'signup' %}">
                    <button class="signup-btn">Sign up</button>
                </a>
                <a href="{% url 'login' %}">
                    <button class="login-btn">Log In</button>
                </a>
                {% endif %}
            </div>
        </div>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer class="page-footer">

    </footer>

    <script>
        const topFixed = document.getElementById('top-fixed');
        const avatar = document.getElementById('avatar');
        const dropdown = document.getElementById('dropdown');
        const forwardBtn = document.getElementById('forward-btn');
        const backBtn = document.getElementById('back-btn');
        const main = document.querySelector('main')
        const addNewBtn = document.getElementById('add-new-btn');
        const dropdownAdd = document.getElementById('dropdown-add');
        const dropdownDetail = document.getElementById('dropdown-detail');
        const ellipsis = document.getElementById('ellipsis');
        const heartToggle = document.getElementById('heart-toggle');
        const detailPlaylistName = document.getElementById('detail-playlist-name');
        const fixedPlaylistName = document.getElementById('fixed-playlist-name');
        const whoLovesThisModal = document.getElementById('who-loves-this');
        const openModal = document.getElementById('openModal');
        const closeModal = document.getElementById('closeModal');

        openModal.addEventListener('click', () => {
            whoLovesThisModal.showModal()
        });

        closeModal.addEventListener('click', () => {
            whoLovesThisModal.close()
        });

        whoLovesThisModal.addEventListener('click', e => {
            const dialogDimensions = whoLovesThisModal.getBoundingClientRect()
            if (
                e.clientX < dialogDimensions.left ||
                e.clientX > dialogDimensions.right ||
                e.clientY < dialogDimensions.top ||
                e.clientY > dialogDimensions.bottom
            ) {
                whoLovesThisModal.close()
            }
        })

        // Add closing logic for click outside dropdown 
        addNewBtn.addEventListener('click', function() {
            dropdownAdd.classList.toggle('active');
        })        

        // Add closing logic for click outside dropdown 
        ellipsis.addEventListener('click', function() {
            dropdownDetail.classList.toggle('active');
        })

        // Add closing logic for click outside dropdown 
        avatar.addEventListener('click', function() {
            dropdown.classList.toggle('active');
        });

        forwardBtn.addEventListener('click', () => {
            goForward();
        });

        backBtn.addEventListener('click', () => {
            goBack();
        });

        function goBack() {
            window.history.back();
        }

        function goForward() {
            window.history.forward();
        }
    
        // main.addEventListener('scroll', function() {
        //     console.log('scrolling')
        //     topFixed.classList.add('translucent');
        // }, true);

        // main.addEventListener('scrollend', function() {
        //     console.log('stopped')
        //     topFixed.classList.remove('translucent');
        // }, true)

        main.addEventListener('scroll', function () {
            const rect = detailPlaylistName.getBoundingClientRect();
            
            if (rect.top < 0) {
                topFixed.classList.add('dark-from-translucent');
                topFixed.classList.remove('translucent');
                fixedPlaylistName.classList.remove('fade-out');
                fixedPlaylistName.classList.add('active');
                fixedPlaylistName.classList.add('fade-in');
            } else {
                topFixed.classList.remove('dark-from-translucent');
                topFixed.classList.add('translucent');
                fixedPlaylistName.classList.add('fade-out');
                fixedPlaylistName.classList.remove('fade-in');
            }
        });

    </script>
</body>
</html>
