{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Melodix</title>
    <script src="https://kit.fontawesome.com/fc377b8991.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <nav class="top-nav">
                <div>
                    <a href="/" title="Home" class="nav-logo">
                    <i class="fa-brands fa-spotify"></i> Melodix
                </a></div>
                <div class="nav-home"><a href="/" title="Home">
                    <i class="fa-solid fa-house"></i> Home
                </a></div>
                <div class="nav-search"><a href="/">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </a></div>
        </nav>
        <aside class="library-nav">
            <div class="lib-nav-header">
                <div class="lib-nav-your-div">
                    <i class="fa-solid fa-lines-leaning"></i>
                    Your Library
                </div>
                <div>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
            <div class="lib-nav-create-playlist">
                <div>
                    <p class="lib-nav-p-bold">Create your first playlist</p>
                    <p class="lib-nav-p-light">It's easy, we'll help you</p>
                </div>
                <a href="{% url 'playlists_create' %}">
                    <button>Create Playlist</button>
                </a>
            </div>
            <div class="lib-nav-find-playlists">
                <div>
                    <p class="lib-nav-p-bold">Let's find some playlists to like</p>
                    <p class="lib-nav-p-light">We'll keep you updated when new songs are added</p>
                </div>
                <a href="{% url 'index' %}"><button>Browse Playlists</button></a>
            </div>
            <div class="lib-nav-find-playlists">
                <div>
                    <p class="lib-nav-p-bold">Add some songs to the database</p>
                    <p class="lib-nav-p-light">It's fast and easy</p>
                </div>
                <a href="{% url 'songs_create' %}">
                    <button>Add A Song</button>
                </a>
            </div>
            <div class="lib-nav-find-playlists">
                <div>
                    <p class="lib-nav-p-bold">Let's find some songs you like</p>
                    <p class="lib-nav-p-light">Check out a full list of songs</p>
                </div>
                <a href="{% url 'songs_index' %}">
                    <button>Browse Songs</button>
                </a>
            </div>
        </aside>
    </header>
    <main class="main-container">
        <div class="top-fixed">
            <div class="backforth-buttons">
                <div><i class="fa-solid fa-chevron-left"></i></div>
                <div><i class="fa-solid fa-chevron-right"></i></div>
            </div>
            <div>
                <form action="{% url 'search_view' %}" method="GET" class="search-bar-div">
                    <input type="text" name="q" id="search-bar" placeholder="Search Melodix...">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="login-buttons">
                {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">logout</button>
                    </form>
                    <div class="avatar">
                        <i class="fa-solid fa-user"></i>
                    </div>
                {% else %}
                <a href="{% url 'signup' %}">
                    <button class="signup-btn">Sign up</button>
                </a>
                <a href="{% url 'login' %}">
                    <button class="login-btn">Log In</button>
                </a>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">

    </footer>
</body>
</html>

</body>
</html>