
{% extends 'base.html' %}
{% load static %} 
{% block content %}
<div class="page-container-home">
    <div class="photo-container">
        <div class="photo-title">
            <h1>
                Melodix Playlist DB
                <i class="fa-solid fa-play"></i>
            </h1>
        </div>
        <div class="tagline">
            Discover, Create, Share: Melodix - Your Ultimate Music Hub.
        </div>
    </div>
    <div class="filter-buttons">
        <button id="show-playlists">Playlists</button>
        <button id="show-songs">Songs</button>
    </div>
    <div class="category-container-div active" id="home-playlists">
        <div class="all-playlists-div">
            {% for playlist in playlists %}
                <a href="{% url 'detail' playlist.id %}">
                    <div class="index-playlist">
                        <div class="playlist-cover">
                            {% if playlist.photo_set.all %}
                                <img src="{{ playlist.photo_set.last.url }}">
                            {% else %}
                                <i class="fa-solid fa-compact-disc"></i>
                            {% endif %}
                        </div>
                        <div class="playlist-name">
                            {{ playlist.name }}
                        </div>
                        <div class="playlist-description">
                            {{ playlist.description }}
                        </div>   
                        <div class="playlist-username">
                            {{ playlist.user }}
                        </div>              
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="category-container-div" id="home-songs">
        <div class="all-songs-div-a">
            {% regroup songs by name.0 as songs_by_letter %}
            {% for group in songs_by_letter|dictsort:"grouper" %}
            {% for song in group.list %}
                <div class="one-song-playlist">
                    <div class="detail-each-song">
                        <div class="song-cover">
                            <i class="fa-solid fa-icons"></i>
                        </div>
                        <div class="detail-nameartist">
                            <div class="detail-song-name">
                                {{ song.name }}
                            </div>
                            <div class="detail-song-artist">
                                {{ song.artist }}
                            </div>
                        </div>
                    </div>
                {% if request.user == song.user %}
                <div>
                    <a href="{% url 'songs_delete' song.id %}"><button>Delete</button></a>
                </div>
                {% endif %}
                </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const homePlaylists = document.getElementById('home-playlists')
    const homeSongs = document.getElementById('home-songs')
    const showPlaylists = document.getElementById('show-playlists')
    const showSongs = document.getElementById('show-songs')

    showSongs.addEventListener('click', () => {
        homePlaylists.classList.remove('active');
        homeSongs.classList.add('active');
        showSongs.style.backgroundColor = 'hsl(0, 0%, 75%)';
        showSongs.style.color = '#121212';
        showPlaylists.style.backgroundColor = 'transparent';
        showPlaylists.style.color = 'hsl(0, 0%, 95%)';
    });

    showPlaylists.addEventListener('click', () => {
        homePlaylists.classList.add('active');
        homeSongs.classList.remove('active');
        showSongs.style.backgroundColor = 'transparent'
        showSongs.style.color = 'hsl(0, 0%, 95%)';
        showPlaylists.style.backgroundColor = 'hsl(0, 0%, 75%)'
        showPlaylists.style.color = '#121212';
    })

</script>
{% endblock %}

