
{% extends 'base.html' %}
{% load static %} 
{% block content %}

<div class="page-container-home">
    <div class="photo-container">
        <div class="photo-title">
            <h1>
                Melodix Playlist DB
                <i class="fa-solid fa-play"></i>
            </h1>
        </div>
        <div class="tagline">
            Discover, Create, Share: Melodix - Your Ultimate Music Hub.
        </div>
    </div>
    <div class="all-playlists-div">
        {% for playlist in playlists %}
            <a href="{% url 'detail' playlist.id %}">
                <div class="index-playlist">
                    <div class="playlist-cover">
                        {% if playlist.photo_set.all %}
                            <img src="{{ playlist.photo_set.last.url }}">
                        {% else %}
                            <i class="fa-solid fa-compact-disc"></i>
                        {% endif %}
                    </div>
                    <div class="playlist-name">
                        {{ playlist.name }}
                    </div>
                    <div class="playlist-description">
                        {{ playlist.description }}
                    </div>   
                    <div class="playlist-username">
                        {{ playlist.user }}
                    </div>              
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}

