{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="page-container-home">
    <div class="user-things">
        <div class="user-avatar-photo">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="user-things-2">
            <div class="user-title-photo">
                <h1 class="username-user">{{ profile_user.username }}</h1>
            </div>
            <div class="user-tagline">
                000 Public Playlists
            </div>
        </div>
    </div>

    <div class="all-playlists-div">
        {% for playlist in playlists %}
            <a href="{% url 'detail' playlist.id %}">
                <div class="index-playlist">
                    <div class="playlist-cover">
                        <i class="fa-solid fa-icons"></i>
                    </div>
                    <div class="playlist-name">
                        {{ playlist.name }}
                    </div>
                    <div class="playlist-description">
                        Playlist Description
                    </div>                
                </div>
            </a>
        {% endfor %}
    </div>


    <h1>user favorites</h1>

    {% for playlist in user_playlists %}

        {{ playlist.name}}

    {% endfor %}

</div>

{% endblock %}