{% extends 'base.html' %}

{% block content %}

{% if query %}

    <div class="showing-results">
        <p>Showing results for "{{ query }}"</p>
    </div>

    {% if playlists %}
        {% for playlist in playlists %}

            <a href="{% url 'detail' playlist.id %}">{{ playlist.name }}</a>

            <a href="{% url 'index' %}">{{ playlist.name }}</a>
        {% endfor %}
    {% endif %}
    
    {% if users %}
        {% for user in users %}
            <a href="{% url 'profile_index' user.id %}">{{ user.username }}</a>
        {% endfor %}
    {% endif %}

{% else %}
    <div class="basic">
        <span>Enter a search term above.</span>
    </div>
{% endif %}

{% endblock %}