{% extends 'base.html' %}

{% block content %}


<div class="page-container">
    {% if query %}
        <div class="showing-results">
            <p>Showing results for "{{ query }}"</p>
        </div>

        {% if playlists %}
            {% for playlist in playlists %}

                <a href="{% url 'detail' playlist.id %}">{{ playlist.name }}</a>

                <a href="{% url 'index' %}">{{ playlist.name }}</a>
            {% endfor %}
        {% endif %}
        
        {% if users %}
            {% for user in users %}
                <a href="{% url 'profile_index' user.id %}">{{ user.username }}</a>
            {% endfor %}
        {% endif %}

    {% else %}
        <div class="basic">
            <span>Enter a search term above.</span>
        </div>
        <div class="letter-buttons">
            <a href="{% url 'search_view' %}?q=a">A</a>
            <a href="{% url 'search_view' %}?q=b">B</a>
            <a href="{% url 'search_view' %}?q=c">C</a>
            <a href="{% url 'search_view' %}?q=d">D</a>
            <a href="{% url 'search_view' %}?q=e">E</a>
            <a href="{% url 'search_view' %}?q=f">F</a>
            <a href="{% url 'search_view' %}?q=g">G</a>
            <a href="{% url 'search_view' %}?q=h">H</a>
            <a href="{% url 'search_view' %}?q=i">I</a>
            <a href="{% url 'search_view' %}?q=j">J</a>
            <a href="{% url 'search_view' %}?q=k">K</a>
            <a href="{% url 'search_view' %}?q=l">L</a>
            <a href="{% url 'search_view' %}?q=m">M</a>
            <a href="{% url 'search_view' %}?q=n">N</a>
            <a href="{% url 'search_view' %}?q=o">O</a>
            <a href="{% url 'search_view' %}?q=p">P</a>
            <a href="{% url 'search_view' %}?q=q">Q</a>
            <a href="{% url 'search_view' %}?q=r">R</a>
            <a href="{% url 'search_view' %}?q=s">S</a>
            <a href="{% url 'search_view' %}?q=t">T</a>
            <a href="{% url 'search_view' %}?q=u">U</a>
            <a href="{% url 'search_view' %}?q=v">V</a>
            <a href="{% url 'search_view' %}?q=w">W</a>
            <a href="{% url 'search_view' %}?q=x">X</a>
            <a href="{% url 'search_view' %}?q=y">Y</a>
            <a href="{% url 'search_view' %}?q=z">Z</a>

        </div>
    {% endif %}
</div>


{% endblock %}