:root {
    --primary: hsl(141, 73%, 49%);
    --primary-content: hsl(0, 0%, 0%);
    --primary-dark: hsl(141, 74%, 39%);
    --primary-light: hsl(141, 73%, 59%);

    --secondary: hsl(231, 73%, 49%);
    --secondary-content: hsl(228, 71%, 99%);
    --secondary-dark: hsl(231, 74%, 39%);
    --secondary-light: hsl(231, 73%, 59%);

    --tertiary: hsl(328, 89%, 30%);
    --tertiary-content: hsl(328, 89%, 79%);
    --tertiary-dark: hsla(329, 90%, 20%, 0.9);
    --tertiary-light: hsl(328, 89%, 40%);

    --background: #121212;
    --background-translucent: hsla(0, 0%, 10%, 0.3);
    --background-translucent2: hsla(0, 0%, 0%, 0.1);
    --foreground: #1a1a1a;
    --foreground-translucent: hsla(0, 0%, 8%, 0.3);
    --foreground-translucent2: hsla(0, 0%, 8%, 0.2);
    --playlist-base: #242424;
    --playlist-highlight: #2a2a2a;
    --playlist-press: #000;
    --border: hsl(0, 0%, 25%);
    --border-translucent: hsla(0, 0%, 25%, .3);
    --border-translucent2: hsla(0, 0%, 25%, .2);
    --border-translucent3: hsla(0, 0%, 25%, .1);

    --copy: hsl(0, 0%, 95%);
    --copy-light: hsl(0, 0%, 75%);
    --copy-lighter: hsl(0, 0%, 55%);
    --copy-lighter2: hsl(0, 0%, 35%);

    --success: hsl(120, 73%, 49%);
    --warning: hsl(60, 73%, 49%);
    --error: hsl(0, 73%, 49%);
    --success-content: hsl(0, 0%, 0%);
    --warning-content: hsl(0, 0%, 0%);
    --error-content: hsl(0, 71%, 99%);

    --border-radius: 9px;
    --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}

body {
    background-color: var(--background);
    color: var(--copy);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
}

a {
    color: var(--copy);
    text-decoration: none;
}

li {
    list-style: none;
}

.nav-home > a,
.nav-search > a {
    display: flex;
    gap: 1rem;
}

.nav-logo {
    font-size: 1rem;
    font-weight: 500;
    
}

.nav-logo > i {
    transform: rotate(90);
}

.nav-logo > i,
.nav-home > a > i,
.nav-search > a > i {
    font-size: 1.3rem;
}

.hidden {
    display: none;
}

.nav-search > a {
    color: var(--copy-light);
}



.lib-nav-find-playlists {
    height: 8.35rem;
}

.lib-nav-create-playlist > div,
.lib-nav-find-playlists > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.lib-nav-your-div {
    display: none;
    gap: 1rem;
    padding-left: .65rem;
    padding-right: .5rem;
}

.lib-nav-p-bold {
    font-weight: 600;
    font-size: .85rem;
}

.lib-nav-p-light {
    font-weight: 300;
    font-size: .75rem;
}

.lib-nav-create-playlist > a > button,
.lib-nav-find-playlists > a > button {
    padding-inline: 1rem;
    padding-block: .5rem;
    background-color: var(--copy);
    width: fit-content;
    border-radius: 50px;
    font-size: .75rem;
    font-weight: 600;
    border: none;
    margin-bottom: -5px;
}

.lib-nav-find-playlists > a > button:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.1s ease;
}

.lib-nav-new {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100px;
    display: none;
    place-items: center;
}

.lib-nav-new:hover {
    cursor: pointer;
    background-color: var(--border-translucent2);
}

.base-playlist {
    display: flex;
    width: 14rem;
    height: 3.5rem;
    align-items: center;
    border-radius: var(--border-radius);
    padding-inline: .5rem;
}

.base-playlist-left {
    display: flex;
    align-items: center;
}

.two-a {
    justify-content: space-between;
}

.base-playlist:hover {
    cursor: pointer;
    background-color: var(--border-translucent2);
}

.active-a {
    background-color: var(--border-translucent);
    display: flex;
    width: 14rem;
    height: 3.5rem;
    align-items: center;
    border-radius: var(--border-radius);
}

.base-playlist:active {
    background-color: var(--border-translucent);
    display: flex;
    width: 14rem;
    height: 3.5rem;
    align-items: center;
    border-radius: var(--border-radius);
}

.base-playlist-cover {
    min-width: 2.75rem;
    max-width: 2.75rem;
    min-height: 2.75rem;
    max-height: 2.75rem;
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom right, var(--foreground), var(--primary-dark));
    border-radius: 5px;
    overflow: none;
}

.base-playlist-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    overflow: none;
}

.base-playlist-nameuser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    padding: .75rem;
}

.base-playlist-name {
    font-size: .9rem;
    font-weight: 400;
    text-transform: capitalize;
}

.base-playlist-user {
    font-size: .7rem;
    font-weight: 200;
    color: var(--copy-light);
    text-transform: capitalize;
}

.base-playlist-heart {
    color: var(--primary);
}

.top-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-block: .5rem;
    padding-inline: 1.5rem;
    padding-top: 1rem;
    background-color: var(--foreground);
    width: 100%;
    z-index: 9999;
    position: fixed;
    box-shadow: var(--box-shadow);
}

.translucent {
    background-color: var(--foreground-translucent);
    transition: background-color 0.5s ease;
}

.dark-from-translucent {
    transition: background-color 0.5s ease;
}

.top-fixed-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-bar-div > input {
    border: none;
    background-color: var(--border-translucent);
    border-radius: 50px;
    height: 2.5rem;
    width: 20rem;
    padding-inline: .5rem;
    font-size: .75rem;
    color: var(--copy);
}

.search-bar-div > input:focus {
    outline: 2px solid var(--copy);
}

input[type="text"]:-webkit-autofill {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 0 1000px hsl(0, 0%, 13%) inset;
    color: var(--copy);
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 0 1000px hsl(0, 0%, 13%) inset;
    -webkit-text-fill-color: var(--copy);
    transition: background-color 5000s ease-in-out 0s;
}

.avatar {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100%;
    background-color: var(--border);
    padding: 2px;
    display: grid;
    place-items: center;
    position: relative;
}

.avatar:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.dropdown {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    right: 1.5rem; 
    display: none;
    width: 10.25rem;
    height: 5.25rem;
    background-color: var(--background);
    border-radius: 7px;
    padding: .5rem;
    font-size: .85rem;
    font-weight: 300rem;
    z-index: 9999;
}

.logout-btn, 
.profile-btn {
    width: 9.25rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: var(--copy);
    text-align: left;
    padding-inline: .5rem;
    padding-block: .25rem;
}

.logout-btn {
    margin-top: .25rem;
}

.logout-btn:hover,
.profile-btn:hover {
    border-radius: 5px;
    background-color: var(--border-translucent);
}

.active {
    display: block !important;
}

.active-inline {
    display: inline;
}

.lib-nav-new {
    position: relative;
}

.dropdown-add {
    position: absolute;
    top: 33%;
    left: 25%;
    display: none;
    width: 10.25rem;
    height: 5.25rem;
    background-color: var(--background);
    border-radius: 7px;
    padding: .5rem;
    font-size: .85rem;
    font-weight: 300rem;
    z-index: 9999;
}

.dropdown-add > a > button {
    width: 9.25rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: var(--copy);
    text-align: left;
    padding-inline: .5rem;
    padding-block: .25rem;
}

.dropdown-add > a > button:hover {
    border-radius: 5px;
    background-color: var(--border-translucent);
    cursor: pointer;
}

.backforth-buttons {
    display: flex;
    gap: 1rem;
    color: var(--copy-light);
}

.backforth-buttons > div {
    display: grid;
    place-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: var(--background-translucent);
}

.login-buttons {
    display: flex;
    gap: 1rem;
}

.login-buttons > a > button {
    border-radius: 100px;
    padding-block: .75rem;
    padding-inline: 1.5rem;
    border: none;
    font-size: .85rem;
    font-weight: 800;
}

.login-buttons > a > button:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.1s ease;
}

.signup-btn {
    background-color: var(--background);
    color: var(--copy-light);
}

.signup-btn:hover {
    color: var(--copy);
}

.login-btn {
    background-color: var(--copy);
    color: var(--primary-content);
}

.page-container {
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
    width: inherit;
    margin: 1rem;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-container-playlist {
    padding-block: 4rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.page-container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, var(--foreground-translucent2), var(--foreground));
    flex-grow: auto;
}

.all-playlists-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-block: 1rem;
    padding-inline: 3rem;
    width: inherit;
    place-items: center;
}

.index-playlist {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 16rem;
    background-color: var(--playlist-base);
    transition: background-color 0.2s ease;
    border-radius: var(--border-radius);
    align-items: center;
    padding: .75rem;
}

.index-playlist:hover {
    cursor: pointer;
    background-color: var(--playlist-highlight);
    transition: background-color 0.2s ease;
}

.index-playlist:active {
    background-color: var(--playlist-press);
    transition: background-color 0.2s ease;
}

.playlist-name {
    font-weight: 600;
    font-size: 1rem;
    padding-inline: .5rem;
    padding-block: .25rem;
    margin-top: .5rem;
    width: 100%;
}

.playlist-description {
    width: 100%;
    font-size: .75rem;
    color: var(--copy-light);
    padding-inline: .5rem;
    height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.playlist-username {
    width: 100%;
    font-size: .65rem;
    color: var(--copy-lighter2);
    padding-inline: .5rem;
    height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: capitalize;
}

.photo-container {
    background-image: url(../assets/img1.jpg);
    background-size: cover;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.photo-title {
    font-size: 4rem;
    font-weight: 900;
    width: max-content;
    position: absolute;
    bottom: 35%;
    left: 10%;
}

.photo-title > h1 {
    display: flex;
    align-items: center;
}

.photo-title > h1 > i {
    font-size: 3rem;
    padding-left: 1.5rem;
}

.tagline {
    font-size: .85rem;
    font-weight: 300;
    width: max-content;
    color: var(--copy);
    position: absolute;
    bottom: 30%;
    left: 11%;
}

.back-btn:hover,
.forward-btn:hover {
    cursor: pointer;
}

.user-things {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20rem;
    background: linear-gradient(to bottom, var(--secondary-dark), var(--foreground));
    padding: 2rem;
}

.user-things-2 {
    margin-top: 2rem;
    padding: 2rem;
}

.user-avatar-photo {
    border-radius: 100%;
    background-color: var(--background-translucent);
    max-width: 15rem;
    min-width: 15rem;
    max-height: 15rem;
    min-height: 15rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: var(--copy-lighter);
}

.username-user {
    font-size: 5rem;
    font-weight: 800;
    max-width: 35rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}

.user-tagline {
    font-size: .85rem;
    font-weight: 300;
    width: max-content;
    color: var(--copy);
}

.playlist-cover {
    border-radius: var(--border-radius);
    background: linear-gradient(to bottom right, var(--foreground), var(--primary-dark));
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: var(--copy);
    overflow: none;
}

.form-playlist-cover  {
    border-radius: var(--border-radius);
    background: linear-gradient(to bottom right, var(--foreground), var(--primary-dark));
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: var(--copy);
    overflow: none;
    position: relative;
}

.form-playlist-cover > img {
    position: relative;
}

#file-name-display {
    font-size: 1rem;
    display: none;
}


@keyframes donut-spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}

.loading {
	display: inline-block;
	border: 4px solid rgba(255, 255, 255, 0.1);
	border-left-color: white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: donut-spin 1.2s linear infinite;
}

.photo-div-load {
    position: relative;
    bottom: 300%;
    left: 0;
    display: none;
}

.label-photo {
    position: relative;
    bottom: 160px;
    left: 0%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    z-index: 10;
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.label-photo > i {
    font-size: 2.5rem;
}

.label-photo > p {
    padding-top: .5rem;
    font-size: .8rem;
    font-weight: 400;
}

.label-photo:hover {
    transition: transform 0.2s ease-in-out;
    opacity: 1;
}

.form-playlist-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.playlist-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.detail-things {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 22.5rem;
    background: linear-gradient(to bottom, var(--tertiary-dark), var(--foreground));
    padding: 4rem;
    margin-top: -1rem;
}

.detail-things-2 {
    padding: 2rem;
}

.detail-things-3 {
    padding-inline: 2rem;
}

.detail-playlist-name {
    font-size: 5rem;
    font-weight: 800;
    max-width: 40rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    text-transform: capitalize;
    padding-inline: .25rem;
}

.detail-tagline {
    font-size: .85rem;
    font-weight: 300;
    color: var(--copy-light);
    padding-inline: .5rem;
    max-width: 35rem; 
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    position: relative;
    text-transform: capitalize;
}

.detail-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    margin-top: -4rem;
    background: linear-gradient(to bottom, var(--foreground-translucent2), var(--foreground-translucent));
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 2;
}

.detail-main-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    margin-top: -2rem;
    padding-inline: 4rem;
    background: linear-gradient(to bottom, var(--foreground-translucent2), var(--foreground-translucent));
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 2;
}

.detail-menu {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}

.detail-songs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 4rem;
    padding-block: 2rem;
    gap: .5rem
}

.detail-each-song {
    display: flex;
    width: 14rem;
    height: 3.5rem;
    align-items: center;
    border-radius: var(--border-radius);
    gap: .75rem;
}

.song-hover:hover {
    cursor: pointer;
    background-color: var(--border-translucent2);
}

.border-radius {
    border-radius: var(--border-radius);
}

.detail-each-song:active {
    background-color: var(--border-translucent);
}

.detail-name-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    padding: .75rem;
}

.detail-song-name {
    font-size: .9rem;
    font-weight: 400;
}

.detail-song-artist {
    font-size: .7rem;
    font-weight: 200;
    color: var(--copy-light);
}

.song-cover {
    width: 2.75rem;
    height: 2.75rem;
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom right, var(--secondary-light), var(--secondary-dark));
    border-radius: 5px;
}

.detail-menu {
    padding-inline: 3rem;
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.detail-favorite >  a > i:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.detail-ellipsis:hover {
    color: var(--copy);
}

.detail-favorite >  a > i:hover,
.detail-ellipsis:hover {
    cursor: pointer;
} 

.detail-favorite {
    font-size: 2rem;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.detail-favorite > a > i {
    font-size: inherit;
    transition: color 0.3s ease-in-out;
}

.detail-ellipsis {
    font-size: 1.5rem;
    color: var(--copy-lighter);
    position: relative;
}

.dropdown-detail {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    display: none;
    width: 10.25rem;
    height: 7.06rem;
    background-color: var(--background);
    border-radius: 7px;
    padding: .5rem;
    font-size: .85rem;
    font-weight: 300rem;
    z-index: 9999;
    box-shadow: var(--box-shadow);
}

.dropdown-detail > a > button,
.dropdown-detail > button {
    width: 9.25rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: var(--copy);
    text-align: left;
    padding-inline: .5rem;
    padding-block: .25rem;
}

.dropdown-detail > a > button:hover,
.dropdown-detail > button:hover {
    border-radius: 5px;
    background-color: var(--border-translucent);
    cursor: pointer;
}

.solid-favorite {
    color: var(--primary);
}

.wobble {
	-webkit-animation: wobble 0.8s ease-in-out both;
	animation: wobble 0.8s ease-in-out both;
}

@-webkit-keyframes wobble {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 15% 15%;
        transform-origin: 15% 15%;
    }
    15% {
        -webkit-transform: translateX(-10px) rotate(-6deg);
        transform: translateX(-10px) rotate(-6deg);
    }
    10% {
        -webkit-transform: translateX(8px) rotate(6deg);
        transform: translateX(8px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-6px) rotate(-3.6deg);
        transform: translateX(-6px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(4px) rotate(2.4deg);
        transform: translateX(4px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-2px) rotate(-1.2deg);
        transform: translateX(-2px) rotate(-1.2deg);
    }
}
@keyframes wobble {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 15% 15%;
        transform-origin: 15% 15%;
    }
    15% {
        -webkit-transform: translateX(-10px) rotate(-6deg);
        transform: translateX(-10px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(8px) rotate(6deg);
        transform: translateX(8px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-6px) rotate(-3.6deg);
        transform: translateX(-6px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(4px) rotate(2.4deg);
        transform: translateX(4px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-2px) rotate(-1.2deg);
        transform: translateX(-2px) rotate(-1.2deg);
    }
}

.songs-table-div {
    width: min(900px, 100% - 5rem);
    margin-inline: auto;
    margin-top: 1rem;
}

.songs-table {
    color: var(--copy-light);
    font-size: .75rem;
    font-weight: 300;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 1rem;
}

th {
    text-align: left;
}

.detail-song-name {
    font-size: .9rem;
    font-weight: 400;
    color: var(--copy);
}

@media (max-width: 650px) {
    th {
        display: none;
    }

    td {
        display: grid;
        grid-template-columns: 15ch auto;
        gap: .5rem;
        padding: .5rem 1rem;
    }

    td:first-child {
        padding-top: 1rem;
    }

    td:last-child {
        padding-bottom: 1rem;
    }

    td::before {
        content: attr(data-cell) ":  ";
        font-weight: 700;
        text-transform: capitalize;
    }
}

hr {
    border-color: var(--copy-lighter2);
}

.no-padding {
    padding: 0;
}

.letter-buttons {
    margin-block: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
}

.letter-buttons > a {
    display: flex;
    font-size: 3rem;
    width: 10rem;
    height: 10rem;
    background-color: var(--background-translucent);
    transition: background-color 0.3s ease;
    border-radius: var(--border-radius);
    padding: 1rem;
    color: var(--copy-lighter);
}

.letter-buttons > a:hover {
    cursor: pointer;
    background-color: var(--border-translucent);
    transition: background-color 0.3s ease;
}

.basic {
    margin-top: 2rem;
}

.fixed-playlist-name {
    display: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.fade-in {
	-webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
	-webkit-animation: fade-out 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-out 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

dialog {
    padding: 1rem;
    background: #1a1a1aec;
    box-shadow: var(--box-shadow);
    color: var(--copy);
    border: none;
    border-radius: var(--border-radius);
    width: fit-content;
    height: fit content;
    position: fixed;
    padding: 2rem 2rem 3rem 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;    
}

dialog::backdrop {
    background-color: #121212a5;
}

dialog > div > h1 {
    font-size: 2rem;
    padding: 1rem;
}

.modal-detail {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.modal-detail > h1 {
    font-size: 2.5rem;
    font-weight: 700;
    width: 18rem;
    padding-top: 0;
}

.modal-detail > p,
.modal-detail > p > a {
    font-size: .75rem;
    font-weight: 600;
    color: var(--copy-light);
    padding-bottom: .5rem;
}

.modal-detail > p > a:hover {
    color: var(--copy);
    font-weight: 800;
}

.modal-detail > button {
    border-radius: 100px;
    background-color: var(--primary);
    color: var(--background);
    border: none;
    width: 18rem;
    height: 2.5rem;
    margin: 0 auto;
    font-size: .95rem;
    font-weight: 600;
    margin-top: 2rem;
}

.playlist-form {
    width: 100%;
}

.playlist-form-name {
    margin-top: -2.5rem;
    display: flex;
    align-items: flex-end;
}

.playlist-form-tagline {
    display: flex;
    align-items: flex-end;
}

.song-form-name,
.song-form-artist,
.song-form-album {
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-form-name > input,
.song-form-artist > input,
.song-form-album > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--copy-light);
    font-size: 1rem;
    font-weight: 300;
    width: 35rem; 
    position: relative;
    padding: 1rem;
    color: var(--copy);
}

.song-form-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.submit-btn {
    width: 4rem;
    height: 2rem;
    border-radius: 100px;
    background-color: transparent;
    display: grid;
    place-items: center;
    font-size: .75rem;
    cursor: pointer;
    border: 1px solid var(--copy-light);
    color: var(--copy-lighter);
}

.submit-btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    color: var(--copy);
    border: 2px solid var(--copy-light);
}

.playlist-form-name > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--copy-light);
    font-size: 3.5rem;
    font-weight: 800;
    width: 35rem; 
    position: relative;
    padding: 1rem;
    color: var(--copy);
}

.playlist-form-tagline > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--copy-light);
    font-size: .85rem;
    font-weight: 300;
    width: 35rem; 
    position: relative;
    padding: 1rem;
    color: var(--copy-lighter);
}

.playlist-form-name > i,
.playlist-form-tagline > i {
    padding-inline: 1rem;
}

.playlist-form-tagline > textarea {
    font-size: .85rem;
    font-weight: 300;
    width: 35rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--copy-lighter);
    color: var(--copy);
    padding: 1rem;
    resize: none;
}

.custom-checkbox > div {
    width: 4rem;
    height: 2rem;
    border-radius: 100px;
    background-color: transparent;
    display: grid;
    place-items: center;
    font-size: .75rem;
    cursor: pointer;
    border: 1px solid var(--copy-light);
}

.custom-checkbox > div:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border: 2px solid var(--copy-light);
}

.custom-checkbox > div:active {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

input[type='checkbox']:checked + .custom-checkbox > div {
    background-color: var(--copy-light);
    color: var(--foreground);
    border: 2px solid var(--background);
}

.one-song-playlist {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-inline: 2rem;
    padding-block: .2rem;
    border-radius: var(--border-radius);
}

.one-song-playlist:hover {
    cursor: pointer;
    background-color: var(--border-translucent2);
}

.playlist-songs-div {
    border-top: 1px solid var(--border);
    margin: 0 auto;
    margin-top: 2rem;
    gap: .5rem;
    padding: 2rem;
    min-width: max-content;
    min-height: max-content;
}

.playlist-songs-div:first-child {
    display: contents;
}

#file-name-display {
    margin-left: 10px;
}

.left-title {
    width: 100%;
    padding-inline: 2rem;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.sign-up {
    margin-top: 1rem;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
}

.sign-title {
    font-size: 2.5rem;
    font-weight: 700;
    width: 18rem;
}

.delete-playlist {
    font-size: 2.5rem;
    font-weight: 700;
    width: fit-content;
}

.sign-up-form-fields {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .35rem;
}

.sign-up-form-fields > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sign-up-form-fields > div > label {
    font-size: .75rem;
    font-weight: 600;
    padding-bottom: .5rem;
}

.sign-up-form-fields > div > input {
    margin-bottom: 1rem;
    border: 1px solid var(--copy-lighter);
    background-color: transparent;
    border-radius: 2.5px;
    height: 2.5rem;
    width: 18rem;
    padding-inline: .5rem;
    font-size: .75rem;
    color: var(--copy);
}

.sign-up-form-fields > div > input:focus {
    outline: 2px solid var(--copy);
}

.sign-up-form-fields > div > input[type="text"]:-webkit-autofill {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 0 1000px hsl(0, 0%, 13%) inset;
    color: var(--copy);
}

.sign-up-form-fields > div > input[type="text"]:-webkit-autofill,
.sign-up-form-fields > div > input[type="text"]:-webkit-autofill:hover,
.sign-up-form-fields > div > input[type="text"]:-webkit-autofill:focus,
.sign-up-form-fields > div > input[type="text"]:-webkit-autofill:active {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 0 1000px hsl(0, 0%, 13%) inset;
    -webkit-text-fill-color: var(--copy);
    transition: background-color 5000s ease-in-out 0s;
}

.sign-up-form-fields > div:first-child {
    margin-top: 2.5rem;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.sign-up-submit {
    border-radius: 100px;
    background-color: var(--primary-dark);
    color: var(--background);
    border: none;
    width: 18rem;
    height: 2.5rem;
    margin: 0 auto;
    font-size: .95rem;
    font-weight: 600;
}

.sign-up-submit:hover,
.cancel-button:hover {
    cursor: pointer;
    background-color: var(--primary-light);
    color: var(--background);
}

.log-in-here {
    padding-block: 1rem;
    color: var(--copy-lighter);
}

.log-in-here > a,
.sign-up-here > a {
    text-decoration: underline;
}

.sign-up-here{
    padding-block: 2.5rem;
    color: var(--copy-lighter);
}

.category-container-div {
    width: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.all-songs-div-a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
}

.all-songs-div-b {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    padding: 1rem;
    width: fit-content;
}

.left-title-a {
    padding-bottom: 1rem;
    width: 100%;
    padding-inline: 2rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.filter-buttons {
    display: flex;
    width: 100%;
    gap: .5rem;
    padding-inline: 2rem;
    margin-top: -1rem;
}

.filter-buttons > button {
    width: 4rem;
    height: 1.5rem;
    border-radius: 100px;
    background-color: transparent;
    display: grid;
    place-items: center;
    font-size: .75rem;
    cursor: pointer;
    border: 1px solid var(--copy-light);
    color: var(--copy);
}

.filter-buttons > button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border: 2px solid var(--copy-light);
}

.filter-buttons > button:active {
    transform: scale(0.9);
    transition: transform 0.3s ease;
    color: var(--background);
}

#home-songs,
#home-playlists {
    display: none;
}

.filter-button-active {
    background-color: var(--copy);
    color: var(--background);
}

.alphabet-links {
    margin-top: 2rem;
}

.detail-submit {
    margin-block: 1rem;
    width: 4rem;
    height: 2rem;
    border-radius: 100px;
    background-color: transparent;
    display: grid;
    place-items: center;
    font-size: .75rem;
    cursor: pointer;
    border: 1px solid var(--copy-light);
    color: var(--copy);
}

.detail-submit:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border: 2px solid var(--copy-light);
}

.detail-submit:active {
    transform: scale(0.9);
    transition: transform 0.3s ease;
    color: var(--background);
}

.delete {
    margin-top: 3rem;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 25rem;
}

.are-you-sure {
    padding-block: 1rem;
    color: var(--copy-lighter);
    width: 15rem;
}

.cancel-button {
    display: grid;
    place-items: center;
    margin-top: 1rem;
    border-radius: 100px;
    background-color: var(--primary-dark);
    color: var(--background);
    border: none;
    width: 18rem;
    height: 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    padding: .5rem 2rem;
}

.playlist-select {
    border: none;
    background-color: var(--border-translucent);
    height: 2.5rem;
    width: 10rem;
    padding-inline: .5rem;
    font-size: .75rem;
    color: var(--copy-light);
}

.playlist-select-btn {
    border: none;
    background-color: var(--border-translucent);
    height: 2.5rem;
    width: 2.5rem;
    padding-inline: .5rem;
    font-size: 1rem;
    color: var(--copy-light);
    display: grid;
    place-items: center;
}

.playlist-select-btn:hover,
.playlist-select:hover {
    background-color: var(--border);
    cursor: pointer;
    color: var(--copy);
    transform: scale(1.03);
    transition: transform 0.1s ease;
}

.playlist-select-btn:focus,
.playlist-select:focus {
    outline: 2px solid var(--copy);
}

.playlist-select-btn:active,
.playlist-select:active {
    transform: scale(.9);
    transition: transform 0.1s ease;
}

.formsicle {
    display: flex;
    gap: .5rem;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--border-translucent3);
    border-radius: 50px;
    margin-bottom: .5rem;
    margin-top: 4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border: 5px solid transparent;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0,0%,100%,.3);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--copy-lighter);
}

.navbar {
    position: fixed;
    background-color: var(--foreground);
    z-index: 9999999;
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--copy);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link > i {
    color: var(--primary);
    font-size: 1.5rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.nav-link:hover i {
    color: var(--primary);
}

.nav-link > i {
    transition: 600ms;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--primary);
    letter-spacing: 0.3ch;
    width: 100%;
    background-color: var(--background);
}

.logo i {
    transform: rotate(0deg);
    transition: transform 600ms;
    transform-origin: center;
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
    transform-origin: center;
}

.top-nav {
    background-color: var(--foreground);
    width: 16rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    font-size: .85rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.base-playlists-div-one {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-top: 4rem;
}

.base-playlists-div-two {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    flex-grow: 1;
}

.lib-nav-create-playlist,
.lib-nav-find-playlists {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--border-translucent);
    border-radius: var(--border-radius);
    margin: .5rem;
    height: 7.5rem;
}


/* small screens */
@media only screen and (max-width: 600px) {
    .top-fixed {
        height: 5rem;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .all-songs-div-b {
        grid-template-columns: 1fr; 
    }

    .all-songs-div-a {
        grid-template-columns: 1fr;
    }

    .all-playlists-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .letter-buttons {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* medium screens */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .navbar {
        width: 5rem;
        top: 0;
        height: 100vh; 
    }

    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: inline;
        transition: opacity 600ms;
    }

    main {
        margin-left: 5rem;
        overflow-y: auto;
    }

    .top-fixed {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding-block: .5rem;
        padding-inline: 1.5rem;
        padding-top: 1rem;
        background-color: var(--background-translucent2);
        width: calc(100vw - 5rem);
        z-index: 9999;
        position: fixed;
        box-shadow: var(--box-shadow);
    }

    .all-songs-div-b {
        grid-template-columns: 1fr; 
    }

    .all-songs-div-a {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-playlists-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .letter-buttons {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* large screens */
@media only screen and (min-width: 901px) {
    main {
        display: flex;
        flex-direction: column;
        flex-grow: auto;
        margin: .5rem .5rem .5rem 17rem;
        background-color: var(--foreground);
        display: flex;
        flex-direction: column;
        flex-grow: auto;
        border-radius: var(--border-radius);
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .navbar {
        display: none;
    }
    
    .top-fixed {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding-block: .5rem;
        padding-inline: 1.5rem;
        padding-top: 1rem;
        background-color: var(--background-translucent2);
        width: calc(100vw - 17rem);
        z-index: 9999;
        position: fixed;
        box-shadow: var(--box-shadow);
    }
    
    .nav-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        padding: .5rem;
        height: 100vh;
    }
    
    .library-nav {
        overflow-y: auto;
        scrollbar-gutter: stable;
        background-color: var(--foreground);
        width: 16rem;
        flex-grow: 1;
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .lib-nav-header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        color: var(--copy-light);
        background-color: var(--foreground);
        width: 15rem;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
    }
    

    .lib-nav-create-playlist,
    .lib-nav-find-playlists {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        background-color: var(--border-translucent);
        border-radius: var(--border-radius);
        margin: .5rem;
        height: 7.5rem;
    }

    .lib-nav-create-playlist {
        margin-top: 4rem;
    }

    .base-playlists-div-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        padding-top: 4rem;
    }
    
    .base-playlists-div-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        flex-grow: 1;
    }

    .lib-nav-your-div {
        display: flex;
        gap: 1rem;
        padding-left: .65rem;
        padding-right: .5rem;
    }

    .lib-nav-new {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100px;
        display: grid;
        place-items: center;
    }
    
    .top-nav {
        background-color: var(--foreground);
        width: 16rem;
        padding: 1.5rem;
        border-radius: var(--border-radius);
        font-size: .85rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.2rem;
    }
}


