:root {
    --primary: hsl(141, 73%, 49%);
    --primary-content: hsl(0, 0%, 0%);
    --primary-dark: hsl(141, 74%, 39%);
    --primary-light: hsl(141, 73%, 59%);

    --secondary: hsl(231, 73%, 49%);
    --secondary-content: hsl(228, 71%, 99%);
    --secondary-dark: hsl(231, 74%, 39%);
    --secondary-light: hsl(231, 73%, 59%);

    --tertiary: hsl(328, 89%, 30%);
    --tertiary-content: hsl(328, 89%, 79%);
    --tertiary-dark: hsla(329, 90%, 20%, 0.9);
    --tertiary-light: hsl(328, 89%, 40%);

    --background: #000000;
    --background-translucent: hsla(0, 0%, 0%, 0.3);
    --background-translucent2: hsla(0, 0%, 0%, 0.1);
    --foreground: #121212;
    --foreground-translucent: hsla(0, 0%, 8%, 0.3);
    --foreground-translucent2: hsla(0, 0%, 8%, 0.2);
    --border: hsl(0, 0%, 25%);
    --border-translucent: hsla(0, 0%, 25%, .3);
    --border-translucent2: hsla(0, 0%, 25%, .2);
    --border-translucent3: hsla(0, 0%, 25%, .1);

    --copy: hsl(0, 0%, 95%);
    --copy-light: hsl(0, 0%, 75%);
    --copy-lighter: hsl(0, 0%, 55%);
    --copy-lighter2: hsl(0, 0%, 35%);

    --success: hsl(120, 73%, 49%);
    --warning: hsl(60, 73%, 49%);
    --error: hsl(0, 73%, 49%);
    --success-content: hsl(0, 0%, 0%);
    --warning-content: hsl(0, 0%, 0%);
    --error-content: hsl(0, 71%, 99%);

    --border-radius: 9px;
    --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}

body {
    background-color: var(--background);
    color: var(--copy);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: var(--copy);
    text-decoration: none;
}

li {
    list-style: none;
}

.top-nav {
    background-color: var(--foreground);
    position: fixed;
    left: 0;
    top: 0;
    width: 16rem;
    height: 9rem;
    padding: 1.5rem;
    margin: .5rem;
    border-radius: var(--border-radius);
    font-size: .85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.nav-home > a,
.nav-search > a {
    display: flex;
    gap: 1rem;
}

.nav-logo {
    font-size: 1rem;
    font-weight: 500;
    
}

.nav-logo > i {
    transform: rotate(90);
}

.nav-logo > i,
.nav-home > a > i,
.nav-search > a > i {
    font-size: 1.3rem;
}

.hidden {
    display: none;
}

.nav-search > a {
    color: var(--copy-light);
}

.library-nav {
    overflow-y: auto;
    scrollbar-gutter: stable;
    background-color: var(--foreground);
    position: fixed;
    left: 0;
    top: 9.5rem;
    width: 16rem;
    height: calc(100vh - 10.5rem);
    margin: .5rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.lib-nav-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--copy-light);
    background-color: var(--foreground);
    width: 15rem;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.lib-nav-create-playlist,
.lib-nav-find-playlists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--border-translucent);
    border-radius: var(--border-radius);
    margin: .5rem;
    height: 7.5rem;
}

.lib-nav-find-playlists {
    height: 8.35rem;
}

.lib-nav-create-playlist > div,
.lib-nav-find-playlists > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.lib-nav-your-div {
    display: flex;
    gap: 1rem;
    padding-left: .65rem;
    padding-right: .5rem;
}

.lib-nav-p-bold {
    font-weight: 600;
    font-size: .85rem;
}

.lib-nav-p-light {
    font-weight: 300;
    font-size: .75rem;
}

.lib-nav-create-playlist > a > button,
.lib-nav-find-playlists > a > button {
    padding-inline: 1rem;
    padding-block: .5rem;
    background-color: var(--copy);
    width: fit-content;
    border-radius: 50px;
    font-size: .75rem;
    font-weight: 600;
    border: none;
    margin-bottom: -5px;
}

.lib-nav-find-playlists > a > button:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.1s ease;
}

.lib-nav-new {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100px;
    display: grid;
    place-items: center;
}

.lib-nav-new:hover {
    cursor: pointer;
    background-color: var(--border-translucent2);
}

.base-playlists-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.base-playlists-div .one {
    padding-top: 4rem;
}

.base-playlists-div .two {
    padding-bottom: 4rem;
}

.base-playlist {
    display: flex;
    width: 14rem;
    height: 3.5rem;
    align-items: center;
    border-radius: var(--border-radius);
    padding-inline: .5rem;
}

.base-playlist-left {
    display: flex;
    align-items: center;
}

.two-a {
    justify-content: space-between;
}

.base-playlist:hover {
    cursor: pointer;
    background-color: var(--border-translucent2);
}

.active-a {
    background-color: var(--border-translucent);
    display: flex;
    width: 14rem;
    height: 3.5rem;
    align-items: center;
    border-radius: var(--border-radius);
}

.base-playlist:active {
    background-color: var(--border-translucent);
    display: flex;
    width: 14rem;
    height: 3.5rem;
    align-items: center;
    border-radius: var(--border-radius);
}

.base-playlist-cover {
    min-width: 2.75rem;
    max-width: 2.75rem;
    min-height: 2.75rem;
    max-height: 2.75rem;
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom right, var(--foreground), var(--primary-dark));
    border-radius: 5px;
    overflow: none;
}

.base-playlist-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    overflow: none;
}

.base-playlist-nameuser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    padding: .75rem;
}

.base-playlist-name {
    font-size: .9rem;
    font-weight: 400;
}

.base-playlist-user {
    font-size: .7rem;
    font-weight: 200;
    color: var(--copy-light);
}

.base-playlist-heart {
    color: var(--primary);
}

.main-container {
    background-color: var(--foreground);
    overflow-y: auto;
    position: fixed;
    left: 16.5rem;
    top: 0;
    width: calc(100vw - 17.5rem);
    height: calc(100vh - 1rem);
    margin: .5rem;
    border-radius: var(--border-radius);
}

.top-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-block: .5rem;
    padding-inline: 1.5rem;
    padding-top: 1rem;
    background-color: var(--foreground);
    top: 0;
    left: 17rem;
    width: calc(100vw - 17.5rem);
    z-index: 9999;
    position: fixed;
    box-shadow: var(--box-shadow);
}

.translucent {
    background-color: var(--foreground-translucent);
    transition: background-color 0.5s ease;
}

.dark-from-translucent {
    transition: background-color 0.5s ease;
}

.top-fixed-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-bar-div > input {
    border: none;
    background-color: var(--border-translucent);
    border-radius: 50px;
    height: 2.5rem;
    width: 20rem;
    padding-inline: .5rem;
    font-size: .75rem;
    color: var(--copy);
}

.search-bar-div > input:focus {
    outline: 2px solid var(--copy);
}

input[type="text"]:-webkit-autofill {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 0 1000px hsl(0, 0%, 13%) inset;
    color: var(--copy);
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 0 1000px hsl(0, 0%, 13%) inset;
    -webkit-text-fill-color: var(--copy);
    transition: background-color 5000s ease-in-out 0s;
}

.avatar {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100%;
    background-color: var(--border);
    padding: 2px;
    display: grid;
    place-items: center;
    position: relative;
}

.avatar:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.dropdown {
    position: absolute;
    top: 102%; 
    right: 1.5rem; 
    display: none;
    width: 10.25rem;
    height: 5.25rem;
    background-color: var(--background);
    border-radius: 7px;
    padding: .5rem;
    font-size: .85rem;
    font-weight: 300rem;
    z-index: 9999;
}

.logout-btn, 
.profile-btn {
    width: 9.25rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: var(--copy);
    text-align: left;
    padding-inline: .5rem;
    padding-block: .25rem;
}

.logout-btn {
    margin-top: .25rem;
}

.logout-btn:hover,
.profile-btn:hover {
    border-radius: 5px;
    background-color: var(--border-translucent);
}

.active {
    display: block !important;
}

.active-inline {
    display: inline;
}

.lib-nav-new {
    position: relative;
}

.dropdown-add {
    position: absolute;
    top: 9%;
    left: 28%;
    display: none;
    width: 10.25rem;
    height: 5.25rem;
    background-color: var(--background);
    border-radius: 7px;
    padding: .5rem;
    font-size: .85rem;
    font-weight: 300rem;
    z-index: 9999;
}

.dropdown-add > a > button {
    width: 9.25rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: var(--copy);
    text-align: left;
    padding-inline: .5rem;
    padding-block: .25rem;
}

.dropdown-add > a > button:hover {
    border-radius: 5px;
    background-color: var(--border-translucent);
    cursor: pointer;
}

.backforth-buttons {
    display: flex;
    gap: 1rem;
    color: var(--copy-light);
}

.backforth-buttons > div {
    display: grid;
    place-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: var(--background-translucent);
}

.login-buttons {
    display: flex;
    gap: 1rem;
}

.login-buttons > a > button {
    border-radius: 100px;
    padding-block: .75rem;
    padding-inline: 1.5rem;
    border: none;
    font-size: .85rem;
    font-weight: 800;
}

.login-buttons > a > button:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.1s ease;
}

.signup-btn {
    background-color: var(--background);
    color: var(--copy-light);
}

.signup-btn:hover {
    color: var(--copy);
}

.login-btn {
    background-color: var(--copy);
    color: var(--primary-content);
}

.page-container {
    padding-block: 4rem;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.page-container-playlist {
    padding-block: 4rem;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    /* background: linear-gradient(to bottom, var(--border-translucent3), var(--background)); */
    height: 100%;
}

.page-container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1 1;
    background: linear-gradient(to bottom, var(--foreground-translucent2), var(--foreground));
}

.all-playlists-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
}

.index-playlist {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 16rem;
    background-color: var(--background-translucent);
    transition: background-color 0.3s ease;
    border-radius: var(--border-radius);
    align-items: center;
    padding: .75rem;
}

.index-playlist:hover {
    cursor: pointer;
    background-color: var(--border-translucent);
    transition: background-color 0.3s ease;
}

.playlist-name {
    font-weight: 600;
    font-size: 1rem;
    padding-inline: .5rem;
    padding-block: .25rem;
    margin-top: .5rem;
    width: 100%;
}

.playlist-description {
    width: 100%;
    font-size: .75rem;
    color: var(--copy-light);
    padding-inline: .5rem;
}
::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--border-translucent3);
    border-radius: 50px;
    margin-bottom: .5rem;
    margin-top: 4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border: 5px solid transparent;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0,0%,100%,.3);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--copy-lighter);
}

.photo-container {
    background-image: url(../assets/img1.jpg);
    background-size: cover;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.photo-title {
    font-size: 4rem;
    font-weight: 900;
    width: max-content;
    position: absolute;
    bottom: 35%;
    left: 10%;
}

.photo-title > h1 {
    display: flex;
    align-items: center;
}

.photo-title > h1 > i {
    font-size: 3rem;
    padding-left: 1.5rem;
}

.tagline {
    font-size: .85rem;
    font-weight: 300;
    width: max-content;
    color: var(--copy);
    position: absolute;
    bottom: 30%;
    left: 11%;
}

/* .disabled {
    opacity: 0.2;
    cursor: not-allowed;
} */

.back-btn:hover,
.forward-btn:hover {
    cursor: pointer;
}

.user-things {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20rem;
    background: linear-gradient(to bottom, var(--secondary-dark), var(--foreground));
    padding: 2rem;
}

.user-things-2 {
    margin-top: 2rem;
    padding: 2rem;
}

.user-avatar-photo {
    border-radius: 100%;
    background-color: var(--background-translucent);
    max-width: 15rem;
    min-width: 15rem;
    max-height: 15rem;
    min-height: 15rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: var(--copy-lighter);
}

.username-user {
    font-size: 5rem;
    font-weight: 800;
    max-width: 35rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-tagline {
    font-size: .85rem;
    font-weight: 300;
    width: max-content;
    color: var(--copy);
}

.playlist-cover {
    border-radius: var(--border-radius);
    background: linear-gradient(to bottom right, var(--foreground), var(--primary-dark));
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: var(--copy);
    overflow: none;
}



.playlist-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.detail-things {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 22.5rem;
    background: linear-gradient(to bottom, var(--tertiary-dark), var(--foreground));
    padding: 4rem;
}

.detail-things-2 {
    padding: 2rem;
}

.detail-playlist-name {
    font-size: 5rem;
    font-weight: 800;
    max-width: 35rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.detail-tagline {
    font-size: .85rem;
    font-weight: 300;
    width: max-content;
    color: var(--copy);
    padding-inline: .5rem;
}

.detail-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    margin-top: -7rem;
    background: linear-gradient(to bottom, var(--foreground-translucent2), var(--foreground-translucent));
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 2;
}

.detail-menu {
    width: 100%;
    height: 3rem;
}

.detail-songs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 4rem;
    padding-block: 2rem;
    gap: .5rem
}

.detail-each-song {
    display: flex;
    width: 14rem;
    height: 3.5rem;
    align-items: center;
    border-radius: var(--border-radius);
    gap: .75rem;
}


.song-hover:hover {
    cursor: pointer;
    background-color: var(--border-translucent2);
}

.border-radius {
    border-radius: var(--border-radius);
}

.detail-each-song:active {
    background-color: var(--border-translucent);
}

.detail-name-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    padding: .75rem;
}

.detail-song-name {
    font-size: .9rem;
    font-weight: 400;
}

.detail-song-artist {
    font-size: .7rem;
    font-weight: 200;
    color: var(--copy-light);
}

.song-cover {
    width: 2.75rem;
    height: 2.75rem;
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom right, var(--secondary-light), var(--secondary-dark));
    border-radius: 5px;
}

.detail-menu {
    padding-inline: 3rem;
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.detail-ellipsis {
    font-size: 1.5rem;
    color: var(--copy-lighter);
}

.detail-favorite >  a > i:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.detail-ellipsis:hover {
    color: var(--copy);
}

.detail-favorite >  a > i:hover,
.detail-ellipsis:hover {
    cursor: pointer;
} 

.detail-favorite {
    font-size: 2rem;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.detail-favorite > a > i {
    font-size: inherit;
    transition: color 0.3s ease-in-out;
}

.dropdown-detail {
    position: absolute;
    top: 5%;
    left: 10.5%;
    display: none;
    width: 10.25rem;
    height: 7.06rem;
    background-color: var(--background);
    border-radius: 7px;
    padding: .5rem;
    font-size: .85rem;
    font-weight: 300rem;
    z-index: 9999;
    box-shadow: var(--box-shadow);
}

.dropdown-detail > a > button,
.dropdown-detail > button {
    width: 9.25rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: var(--copy);
    text-align: left;
    padding-inline: .5rem;
    padding-block: .25rem;
}

.dropdown-detail > a > button:hover,
.dropdown-detail > button:hover {
    border-radius: 5px;
    background-color: var(--border-translucent);
    cursor: pointer;
}

.solid-favorite {
    color: var(--primary);
}

.wobble {
	-webkit-animation: wobble 0.8s ease-in-out both;
	animation: wobble 0.8s ease-in-out both;
}

@-webkit-keyframes wobble {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 15% 15%;
        transform-origin: 15% 15%;
    }
    15% {
        -webkit-transform: translateX(-10px) rotate(-6deg);
        transform: translateX(-10px) rotate(-6deg);
    }
    10% {
        -webkit-transform: translateX(8px) rotate(6deg);
        transform: translateX(8px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-6px) rotate(-3.6deg);
        transform: translateX(-6px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(4px) rotate(2.4deg);
        transform: translateX(4px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-2px) rotate(-1.2deg);
        transform: translateX(-2px) rotate(-1.2deg);
    }
}
@keyframes wobble {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 15% 15%;
        transform-origin: 15% 15%;
    }
    15% {
        -webkit-transform: translateX(-10px) rotate(-6deg);
        transform: translateX(-10px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(8px) rotate(6deg);
        transform: translateX(8px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-6px) rotate(-3.6deg);
        transform: translateX(-6px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(4px) rotate(2.4deg);
        transform: translateX(4px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-2px) rotate(-1.2deg);
        transform: translateX(-2px) rotate(-1.2deg);
    }
}

.songs-table-div {
    width: min(900px, 100% - 5rem);
    margin-inline: auto;
}

.songs-table {
    color: var(--copy-light);
    font-size: .75rem;
    font-weight: 300;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 1rem;
}

th {
    text-align: left;
}

.detail-song-name {
    font-size: .9rem;
    font-weight: 400;
    color: var(--copy);
}

@media (max-width: 650px) {
    th {
        display: none;
    }

    td {
        display: grid;
        grid-template-columns: 15ch auto;
        gap: .5rem;
        padding: .5rem 1rem;
    }

    td:first-child {
        padding-top: 1rem;
    }

    td:last-child {
        padding-bottom: 1rem;
    }

    td::before {
        content: attr(data-cell) ":  ";
        font-weight: 700;
        text-transform: capitalize;
    }
}

hr {
    border-color: var(--copy-lighter2);
}

.no-padding {
    padding: 0;
}

.letter-buttons {
    margin-block: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
}

.letter-buttons > a {
    display: flex;
    font-size: 3rem;
    width: 10rem;
    height: 10rem;
    background-color: var(--background-translucent);
    transition: background-color 0.3s ease;
    border-radius: var(--border-radius);
    padding: 1rem;
    color: var(--copy-lighter);
}

.letter-buttons > a:hover {
    cursor: pointer;
    background-color: var(--border-translucent);
    transition: background-color 0.3s ease;
}

.basic {
    margin-top: 2rem;
}

.fixed-playlist-name {
    display: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.fade-in {
	-webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
	-webkit-animation: fade-out 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-out 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

dialog {
    /* padding: 3rem;
    background: var(--background-translucent);
    box-shadow: var(--box-shadow);
    color: var(--copy);
    border: none;
    border-radius: var(--border-radius);
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; */
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.4);
}

dialog > div > h1 {
    font-size: 2rem;
    padding: 1rem;
}

.playlist-form {
    width: 100%;
}

.playlist-form-name {
    margin-top: -2.5rem;
    display: flex;
    align-items: flex-end;
}

.playlist-form-name > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--copy-light);
    font-size: 3.5rem;
    font-weight: 800;
    max-width: 35rem; 
    position: relative;
    padding: 1rem;
    color: var(--copy);
}

.playlist-form-name > i,
.playlist-form-description > i {
    padding-inline: 1rem;
}

.playlist-form-description > textarea {
    font-size: .85rem;
    font-weight: 300;
    width: 35rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--copy-lighter);
    color: var(--copy);
    padding: 1rem;
    resize: none;
}

.custom-checkbox > div {
    width: 4rem;
    height: 2rem;
    border-radius: 100px;
    background-color: transparent;
    display: grid;
    place-items: center;
    font-size: .75rem;
    cursor: pointer;
    border: 1px solid var(--copy-light);
}

.custom-checkbox > div:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border: 2px solid var(--copy-light);
}

.custom-checkbox > div:active {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

input[type='checkbox']:checked + .custom-checkbox > div {
    background-color: var(--copy-light);
    color: var(--foreground);
    border: 2px solid var(--background);
}

.one-song-playlist {
    display: flex;
    gap: 10rem;
    align-items: center;
    padding-inline: 2rem;
    padding-block: .2rem;
    border-radius: var(--border-radius);
}

.one-song-playlist:hover {
    cursor: pointer;
    background-color: var(--border-translucent2);
}

.playlist-songs-div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-grow: 1;
    width: 100%;
    align-items: center;
}

.custom-file-input {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
    border-radius: 5px;
}

#file-name-display {
    margin-left: 10px;
}

/* style modal */
/* style search page */
/* style details page */
/* style forms */
/* add tooltip to name and description fields for playlist */